<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
        <form action= "/prezzo", method="get">
            {% for elemento in quartiere %}
                <input type="checkbox" id="{{elemento}}" name="Quartieri" value="{{elemento}}">
                <label for="{{elemento}}">{{elemento}}</label>
            {% endfor %}
            <input type="submit" value='invia'>
        </form>
</body>
</html>